.users__pagination-inner{
  display: flex;
  justify-content: center;
}
.users__pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.users__pagination-item{
  padding: 7px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: teal;
  color: #fff;
  &:not(:last-child){
    margin-right: 10px;
  }
  &.active{
    background: tomato;
  }
}
.pagination li{
  height: auto;
}